@using News_Portal.Core.DTO.News
@model HomePageNewsToShowDTO

@{
    var content = Model.NewsContent ?? string.Empty;
    var snippet = content.Length > 1800 ? content.Substring(0, 1800) + "..." : content;
    var dateText = Model.PublishedDate.ToString("MMM dd, yyyy");
    var category = Model.NewsType.ToString();
}


<div class="compact-news-card card h-100 border-0">
    <div class="compact-image-wrapper">
        @if (!string.IsNullOrWhiteSpace(Model.TitleImageUrl))
        {
            <img src="@Model.TitleImageUrl"
                 alt="@Model.NewsTitle"
                 class="compact-image img-fluid" />
        }
        else
        {
            <div class="compact-image-placeholder">
                <span>@category</span>
            </div>
        }
    </div>

    <div class="compact-body card-body p-2 p-md-3">
        <div class="compact-meta">
            <span class="compact-date">@dateText</span>
            <span class="compact-badge">@category</span>
        </div>

        <h6 class="compact-title mb-1">
            @Model.NewsTitle
        </h6>

        @if (!string.IsNullOrWhiteSpace(snippet))
        {
            <p class="compact-snippet mb-0">
                @snippet
            </p>
        }

        <a href="@Url.Action("Details", "News", new { id = Model.NewsId })"
           class="stretched-link"></a>
    </div>
</div>
