<!DOCTYPE html>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    string presentButton = (ViewBag.PresentButton as string ?? "").Trim();
    bool isLoginPresent = string.Equals(presentButton, "Login", StringComparison.OrdinalIgnoreCase);
}
@{
    var lang = Context.Request.Cookies["Language"];
    if (lang == null) lang = Languages.Bangla.ToString();
    bool isBangla = (lang == Languages.Bangla.ToString()) ? true : false;
}


<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/News_Portal.UI.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <div class="identity-actions">
            <div class="identity-actions-box">
                @if (isLoginPresent)
                {
                    <a class="btn-present"
                       asp-area="Identity"
                       asp-controller="Account"
                       asp-action="AuthLogin">@(isBangla?"লগ-ইন":"Login")</a>
                    <a class="btn-min"
                    asp-area="Identity"
                    asp-controller="Account"
                    asp-action="AuthRegister">@(isBangla ? "রেজিস্টার":"Register")</a>
                }
                else
                {
                    <a class="btn-min"
                       asp-area="Identity"
                       asp-controller="Account"
                       asp-action="AuthLogin">@(isBangla ? "লগ-ইন" : "Login")</a>
                    <a class="btn-present"
                       asp-area="Identity"
                       asp-controller="Account"
                       asp-action="AuthRegister">@(isBangla ? "রেজিস্টার" : "Register")</a>
                }
            </div>
        </div>
    </div>

    <main class="mt-2">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
